<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/styleinicio.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&display=swap" rel="stylesheet">
    <title>Bloodshop</title>
</head>

<body>
    <br></br>
    <div class="div-cont">
        <a class="a-cont" href="{% url 'iniciobloodshop' %}">BLOODSHOP</a>
        <p></p>
    </div>

    <div class="div-cont">
        <a class="a-cont1">Accede a tu cuenta</a>

    </div>
    <div class="container">
        <div class="row">
            <form action="" method="POST" id="form1">
                {% csrf_token %}
                {{form}}
                <br>
                <input value="Iniciar Sesión" type="submit" class="a-cont-b1"></input>
                
            </form>
                    <a class="p-cont12" href="{% url 'olvidepassword' %}">¿Olvidaste tu contraseña?</a>
                    <div style="text-align: center;">
                        <br>
                        <a class="p-cont1">Necesitas una cuenta?</a>
                        <a class="p-cont123" href="{% url 'register' %}">Registrate</a>
                    </div>
        </div>
    </div>



</body>

</html>