<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'core/css/styledetails.css' %}">
  <title>Document</title>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/html/iniciobloodshop.html">
        <img class="logo1" src="{% static 'core/img/logo.jpg' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/html/hombre.html">HOMBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/mujer.html">MUJER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/ninos.html">NIÑOS</a>
          </li>
        </ul>



        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Que Buscas">
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
          <a class="btn btn-secundary" href="/html/inicio.html">Iniciar Sesión</a>
          <a href="/html/carrito.html">
            <img class="carrito" src="{% static 'core/img/carrito-de-compras.png' %}" alt="">
          </a>
          
        </form>

  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="{% static 'core/img/badbunnyforum.jpg' %}" alt="">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="cont-card">
          <h4 class="marca-shoes">ADIDAS</h4>
          <div class="col-12">
            <div class="hr1">
              <hr>
            </div>
            <p class="tittle-shoes">Bad Bunny Low Forum</p>
            <p class="info-shoes">Más que un calzado, es una declaración de estilo. Los adidas Forum llegaron a la
              escena en el 84 y ganaron seguidores en la cancha y en el mundo de la música. Este par de zapatillas
              clásicas trae de vuelta la actitud de los 80, la energía explosiva del baloncesto y el icónico diseño de
              tobillo con banda elástica en X, destilados en una versión de corte bajo diseñada para las calles.</p>
            <div class="div-form-select">
              <select class="form-select">
                <option>Selecciona tu talla US</option>
                <option>8 US</option>
                <option>8.5 US</option>
                <option>9 US</option>
                <option>9.5 US</option>
              </select>
            </div>
            <div class="div-tallas">
              <a href="">Guia de tallas</a>
            </div>
            <p class="p-price">$329.990</p>
            <a class="btn-carro" href="">AÑADIR AL CARRO</a>
            <a class="btn-carro" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UDL6KV4BJF9VS">COMPRAR AHORA</a>
          </div>
        </div>
      </div>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>