<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/styleregistershoes.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&display=swap" rel="stylesheet">
    <title>Bloodshop</title>
</head>

<body>
    <br></br>
    <div class="div-cont-title">
        <a class="a-cont" href="{% url 'iniciobloodshopadmin' %}">BLOODSHOP</a>
        <p></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="div-cont-register">
                    <p class="a-cont1-register">Editar registro de zapatilla</p>
                </div>
                <form action="{% url 'actualizarZapatilla' %}" method="POST" enctype="multipart/form-data" name="form1">
                    {% csrf_token %}
                    <div class="col-md-6 col-sm-12">
                        <label class="label-title">Id Zapatilla</label>
                        <input value= "{{ datos.id_producto }}" type="number" id="idzap" name="idzap" class="p-cont-b" readonly>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="label-title">Nombre Zapatilla</label>
                        <input value= "{{ datos.nombreproduct }}" type="text" id="nombrezap" name= "nombrezap" class="p-cont-b" required>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label class="label-title">Marca Zapatilla</label>
                        <select class="p-cont-b1" name="marcaS" id="marcaS" required>
                        {% for r in listaMarcas %}
                            {% if r.codigoMarca == datos.marcaproduct.codigoMarca %}
                                <option value="{{ r.codigoMarca }}" selected>{{ r.nombreMarca }}</option>
                            {% else %}
                                <option value="{{ r.codigoMarca }}">{{ r.nombreMarca }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="label-title">Tipo</label>
                        <select name="tipo" id="tipo"  class="p-cont-b1">
                            
                                <option value="{{datos.tipo}}">Hombre</option>
                                <option value="{{datos.tipo}}">Mujer</option>
                                <option value="{{datos.tipo}}">Niño</option>
                            
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="label-title">Descripcion Zapatilla</label>
                        <textarea class="form-control1" id="desczap" name="desczap" cols="30" rows="5" required>{{ datos.descripcion }}</textarea>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label class="label-title"> Talla Zapatilla</label>
                        <input value= "{{datos.talla}}" type="number" id="tallazap" name="tallazap" placeholder="Ej: 9us" class="p-cont-b" required>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label class="label-title">Cantidad</label>
                        <input value= "{{datos.cantidad}}" type="number" id="cantidadzap" name="cantidadzap" placeholder="Ej: 2" class="p-cont-b" required>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label class="label-title">Precio Zapatilla</label>
                        <input value="{{ datos.precio }}" name="preciozap" type="number" id="preciozap" placeholder="Ej: $100.000" class="p-cont-b" required>
                    </div>
                    <div class="col-6 columna">
                       <input class="a-cont-b11" type="submit" value="Registrar">    
                    </div>
                </form>
            </div>
        </div>
    </div>




    <script src="https://kit.fontawesome.com/2cb25f2c39.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>

</html>